<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= attachment_image_tag @blog, :image, format: 'jpg', fallback: "no_image.jpg", size: "100x100" %></br>
    <%= form.attachment_field :image %>
    <%= form.label :記事タイトル %>
    <%= form.text_field :title, :size => "40" %></br>
    <%= form.label :web_address %>
    <%= form.text_field :web_address, :size => "40" %></br>
    <%= form.label :カテゴリ %>
    <%= form.collection_select :category_id, @categories, :id, :name, include_blank: "Category" %></br>
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, value: form.object.tag_list.to_s %></br>
    <%= form.label :要約 %>
    <%= form.text_field :summary, :size => "80" %></br>
    <%= form.label :記事内容 %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
