<% set_meta_tags title: @blog.title, description: @blog.summary, og: { url: @blog.web_address, type: 'blog', image: @blog.image } %>
<%= request.class %>
  <div class="top-menu">
    <div class="container-fluid">
      <table class="top-menu--list">
        <tr>
          <th><%= link_to "All", root_path, class: "top-menu--list-item" %></th>
          <% @categories.each do |category| %>
            <th>
              <%= link_to category.name, root_path(:category_id => category.id), class: "top-menu--list-item" %>
            </th>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
  </header>
  <div class="container">
  <div class="post-wrapper">
    <div class="container-fluid main-container">
      <div class="row">
        <div class="col-md-9 col-lg-8 col-lg-offset-1">
          <div class="post">
            <div class="post-date">
              <div class="post-date-published">
                <p><small><%= @blog.created_at.strftime('%Y-%m-%d') %></small>　更新：<%= @blog.updated_at.strftime('%Y-%m-%d') %></p>
              </div>
            </div>
            <h1 class="post-title"><%= @blog.title %></h1>
            <p><%= @blog.web_address %></p>
            <% @blog.tag_list.each do |tag| %>
              <span class="btn btn-primary"><%= tag %></span>
            <% end %>
            <div class="post-info" ontouchstart="">
              <div class="post-info--category">
                <%#= fa_icon "home" %> <%= link_to "Home", root_path %> / <%= link_to @blog.category.name, root_path %>
              </div>
              <h3><%= @blog.summary %></h3>
              <%# <div class="post-info--tags">
                <% @post.tags.each do |tag| %>
                  <%# <div class="tag"><%= link_to "##{tag.name}", "../tags/#{tag.name}" %>
                <%# <% end %> 
              <%# </div> %> 
            </div>
            <div class="post-text">
              <%= @blog.body %>
            </div>
            <%# <div class="post-sns">
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
              <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
            </div> %>
          </div>
          <div class="previous_next">
            <div class="next">
              <%= attachment_image_tag @blog, :image, format: 'jpg', fallback: "no_image.jpg", size: "50x50" %>
            </div>
            <div class="previous">
              <%= link_to 'Edit', edit_blog_path(@blog) %>　|　
              <%= link_to 'Back', blogs_path %>
            </div>
          </div>
          <div class="row similar-posts">
            <h4 class="similar-posts--title">You Might Like</h4>
            <%#= render partial: 'similar_post', collection: @similar_posts, as: :similar_post %>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 sticky bottom-xs">
          <div class="side-bar">
            <div class="side-bar--posts">
              <h2 class="side-title">Popular Posts</h2>
              <%#= render partial: 'popular_post', collection: @popular_posts, as: :popular_post%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


