<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>

    

    <p>
      <%= attachment_image_tag @blog, :image, format: 'jpg', fallback: "no_image.jpg", size: "200x200" %>
      <%= @blog.title %>
      <%= @blog.summary %>
      <%= @blog.body %>
    </p>

    

    <%= link_to 'Edit', edit_blog_path(@blog) %> |
    <%= link_to 'Back', blogs_path %>
  </div>
</div>


