<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
    <a href="" class="navbar-brand"><%= link_to "Fumiblog", homes_top_path, {class: "btn btn-primary"} %></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="" class="nav-link">　<%= Date.current.strftime('%Y年%m月%d日') %>（<%= Time.now.strftime("%A") %>）</a></li>
        <li class="nav-item"><a href="<%= blogs_path %>" class="nav-link">blog</a></li>
        <li class="nav-item"><a href="<%= admins_genres_path %>" class="nav-link">genre</a></li>
        <li class="nav-item"><a href="<%= admins_categories_path %>" class="nav-link">category</a></li>
        <li class="nav-item"><a href="<%= admins_footprints_path %>" class="nav-link">footprint</a></li>
        <li class="nav-item"><a href="<%= edit_admins_admin_path(1) %>" class="nav-link">edit_admin</a></li>
      </ul>
    </div>
  </nav>
</header>
