<div class="container">
  <div class="row">
    <div class="col-md-7">
    <h3>Blogs</h3>
    <% @blogs.each do |blog| %>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= attachment_image_tag blog, :image, format: 'jpg', fallback: "no_image.jpg", size: "150x150" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.summary %></p>
              <p class="card-text"><small class="text-muted"><%= blog.created_at.to_s(:published_on) %></small></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
      <div class="col-md-5">
      <h3>Category</h3>
        <table class="table table-striped">
          <tr>
            <th>カテゴリ</th>
          </tr>
          <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, root_path %></td>
          </tr>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>
    
 