<div class="container">
  
    <div class="work_times_title"><h3>Work times</h3></div><br>
    <%= form_with model: @work_time, url: admins_work_times_path, local: true do |f| %>
    <div class="work_time_create">
        <p>
          worktime:<%= f.text_field :title %>
          <%= f.submit '追加', class: "btn btn-primary"%>
        </p>
    </div>    
    <% end %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Work time</th>
          <th>start</th>
          <th>goal</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @work_times.each do |work_time| %>
          <tr>
            <td><%= link_to work_time.name, admins_work_times_path(:work_time_id => work_time.id) %></td>
            <td class="number"><%#= work_time.work_time.count %></td>
            <td class="number"><%#= work_time.work_times.sum(:price).to_s(:delimited) %></td>
            <td><%= link_to "変更", edit_admins_work_time_path(work_time), class: "btn btn-warning" %></td>
            <td><%= link_to "削除", admins_work_time_path(work_time), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
