<div class="container">
  <div class="page_title"><h3>足　跡</h3></div></br>
  <%= form_with model: @footprint, url: admins_footprints_path(@footprint), local: true do |f| %>
  <div class="footprint_create">
      <p>
        日付：<%= f.date_field :date %>
        項目：<%= f.text_field :title %>
        ジャンル：<%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "Genre" %></p>
        金額：<%= f.number_field :price %></br>
        備考：<%= f.text_field :body, :size=>"40" %></p>
      <%= f.submit '追加', class: "btn btn-primary"%>
      <div class="text-right">
        <%= link_to "CSV出力", admins_footprints_path(format: :csv), class: "btn btn-outline-success" %>
      </div>
  </div>    
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>項目</th>
        <th>ジャンル</th>
        <th>金額</th>
        <th>備考</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @footprints.each do |footprint| %>
        <tr>
          <td><%= footprint.date %></td>
          <td><%= footprint.title %></td>
          <td><%= footprint.genre.name %></td>
          <td class="number"><%= footprint.price.to_s(:delimited) %></td>
          <td><%= footprint.body %></td>
          <td><%= link_to "変更", edit_admins_footprint_path(footprint), class: "btn btn-warning" %></td>
          <td><%= link_to "削除", admins_footprint_path(footprint), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>
