<!DOCTYPE html>
<html>
  <head>
    <%# <title>【必見】blog作成！fumiblog</title> %>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div id="carouselsample-1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag 'code3.png', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'coffee4.png', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'code3.png', class: 'd-block w-100' %>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="container">
      <footer class="text-center text-muted py-4">
        Copyright 2021 fumiblog.link
        <%= render 'shared/sub_content' %>
      </footer>
    </div>
  </body>
</html>
