<!DOCTYPE html>
<html>
  <head>
    <title>Fumiblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
        <a href="" class="navbar-brand"><%= link_to "Fumiblog", homes_top_path, {class: "btn btn-primary"} %></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="" class="nav-link">　<%= Date.current.strftime('%Y年%m月%d日') %>（<%= Time.now.strftime("%A") %>）　</br>　→　<%= @elapsed_date %>日経過</a></li>
            <li class="nav-item"><a href="" class="nav-link"><%= link_to "blog", blogs_path, class: "<fas fa-th-list" %>　</a></li>
            <li class="nav-item"><a href="" class="nav-link"><%= link_to "genre", admins_genres_path %>　</a></li>
            <li class="nav-item"><a href="" class="nav-link"><%= link_to "category", admins_categories_path %>　</a></li>
            <li class="nav-item"><a href="" class="nav-link"><%= link_to "footprint", admins_footprints_path %>　</a></li>
          </ul>
        </div>
      </nav>
      <%= image_tag 'code3.png' %>
    </header>
    <%= yield %>
    <div class="container">
      <footer class="text-center text-muted py-4">
        Copyright 2021 fumiblog.link
        <%= render 'shared/sub_content' %>
      </footer>
    </div>
  </body>
</html>
