<div class="container-fruid alert alert-secondary">
  <div class="row">
    <div class="col-md-3">
      <div class="orverflow-auto dashboard_menu m-3 p-2 bg-dark" style= "width:100%; height:1000px;">
        <p class="h4 text-white p-3"><i class="fas fa-home"></i><%= link_to " home", admins_dashboards_path, :style=>"color:white;" %></p>
        <p class="h4 text-white p-3"><i class="fas fa-blog"></i><%= link_to " blogs", blogs_path, :style=>"color:white;" %></p>
        <p class="h4 text-white p-3"><i class="fas fa-hospital"></i><%= link_to " genres", admins_genres_path, :style=>"color:white;" %></p>
        <p class="h4 text-white p-3"><i class="fas fa-hospital"></i><%= link_to " categories", admins_categories_path, :style=>"color:white;" %></p>
      </div>
        
    </div>
      <div class="col-md-9">
        <h3 class="m-3">Dashboard</h3>

      <div class="row dash">
        <div class="col alert alert-primary text-primary m-3 p-3" style= "height:160px;">
          <%= render 'shared/footprint'%>
          <img src="" alt="">
          </div>
          <div class="col bg-light text-secondary m-3 p-3" style= "height:160px;">
        
          <div class="h1" id="timer">00:00.000</div>
          <button id="start">Start</button>
          <button id="stop">Stop</button>
          <button id="reset">Reset</button>
          <%#= image_tag "ruby-on-rails.jpg", width: '15%', height: '65%' %>
        </div>
      </div>
        <div class="row dash">
          <div class="col bg-light text-secondary m-3 p-3" style="position: relative; max-height:17vh; width:35vw">
            <canvas id="genre_graph" height="100"></canvas>
          </div>
          <div class="col bg-light text-secondary m-3 p-3" style="position: relative; max-height:17vh; width:35vw">
            <canvas id="blog_count" height="100"></canvas>
          </div>
        </div>
        <div class="row dash">
          <div class="col bg-light text-secondary m-3 p-3" style="position: relative; max-height:17vh; width:35vw">
            <canvas id="genre_graph" height="100"></canvas>
          </div>
          <div class="col bg-light text-secondary m-3 p-3" style="position: relative; max-height:17vh; width:35vw">
            <canvas id="blog_count" height="100"></canvas>
          </div>
        </div>
      <%# <div class="row row-cols-5">
        <div class="col test1">
          2-1
        </div>
        <div class="col test1">
          2-2
        </div>
        <div class="col test1">
          2-3
        </div>
        <div class="col test1">
          2-4
        </div>
        <div class="col test1">
          2-5
        </div>
        <div class="col test1">
          2-6
        </div>
        <div class="col test1">
          2-7
        </div>
      </div> %>
        <a href="https://shop-pro.jp/pricing">GMOペポバ「COLOR ME price」</a>
        <%#= bar_chart Footprint.group(:genre_id).sum(:price) %>
        <%#= bar_chart [1:100, 2:120] %>
        
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>
      'use strict';

      var ctx = document.getElementById("genre_graph");
        new Chart(ctx, {
          type: 'horizontalBar',
          data: {
            labels: gon.genre_json,
            // labels: ["HomePayment", "recruit", "HomeApPliance", " insurance"],
            datasets: [{
              label: '分類毎支出',
              backgroundColor: '#20B2AA',
              // data: $('.footprint_json').val()
              // data: [1363338, 0, 1050390, 1000000]
              data: gon.footprint_json
            }]
          }
        });

        var options = {
          scales: {
              xAxes: [{
                  ticks: {
                      min: 500000
                  }
              }]
          }
      };
      
      var ctx = document.getElementById("blog_count");
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: gon.blog_writingdate,
            datasets: [{
              label: 'ブログ作成件数',
              backgroundColor: '#20B2AA',
              data: gon.blog_writingcount
            }]
          }
        });

        // var opsitons = {
        //   scales: {
        //     xAxes: [{
        //       ticks: {
        //         min: 
        //       }
        //     }]
        //   }
        // };

      {
        const timer = document.getElementById('timer');
        const start = document.getElementById('start');
        const stop = document.getElementById('stop');
        const reset = document.getElementById('reset');

        let startTime;
        let timeoutId;
        let elapsedTime = 0;

        function countUp() {
          const d = new Date(Date.now() - startTime + elapsedTime);
          const m = String(d.getMinutes()).padStart(2, '0');
          const s = String(d.getSeconds()).padStart(2, '0');
          const ms = String(d.getMilliseconds()).padStart(3, '0');
          timer.textContent = `${m}:${s}.${ms}`;

          timeoutId = setTimeout(() => {
            countUp();
          }, 10);
        }
        
        function setButtonStateInitial(){
          start.disabled = false;
          stop.disabled = true;
          reset.disabled = true;
        }
        function setButtonStateRunning(){
          start.disabled = true;
          stop.disabled = false;
          reset.disabled = true;
        }
        function setButtonStateStopped(){
          start.disabled = false;
          stop.disabled = true;
          reset.disabled = false;
        }

        setButtonStateInitial();

        start.addEventListener('click', () => {
          setButtonStateRunning();
          startTime = Date.now();
          countUp();
        });

        stop.addEventListener('click', () => {
          setButtonStateStopped();
          clearTimeout(timeoutId);
          elapsedTime += Date.now() - startTime;
        });

        reset.addEventListener('click', () => {
          setButtonStateInitial();
          timer.textContent = '00:00.000';
          elapsedTime = 0;
        });
      }
    </script>
  </div>
