<div class="container-fruid">
  <div class="row">
    <div class="col-md-3">
      <div class="visible orverflow-auto dashboard_menu m-3 p-2 bg-dark" style= "width:100%; height:1000px;">
        <p class="h4 text-white p-3"><i class="fas fa-home"></i><%= link_to " home", admins_dashboards_path, :style=>"color:white;" %></p>
        <p class="h4 text-white p-3"><i class="fas fa-blog"></i><%= link_to " blogs", blogs_path, :style=>"color:white;" %></p>
        <p class="h4 text-white p-3"><i class="fas fa-hospital"></i><%= link_to " genres", admins_genres_path, :style=>"color:white;" %></p>
        <p class="h4 text-white p-3"><i class="fas fa-hospital"></i><%= link_to " categories", admins_categories_path, :style=>"color:white;" %></p>
        <p class="h4 text-white p-3"><i class="fas fa-hospital"></i><%= link_to " worktype", admins_work_types_path, :style=>"color:white;" %></p>
      </div>
        
    </div>
      <div class="col-md-9">
      <div class="row dash1">
      </div>

      <div class="row dash">
        <div class="col test">
          <%= render 'shared/footprint'%>
        </div>
        <div class="col test">
          1-2
        </div>
      </div>
      <div class="row row-cols-5">
        <div class="col test1">
          2-1
        </div>
        <div class="col test1">
          2-2
        </div>
        <div class="col test1">
          2-3
        </div>
        <div class="col test1">
          2-4
        </div>
        <div class="col test1">
          2-5
        </div>
        <div class="col test1">
          2-6
        </div>
        <div class="col test1">
          2-7
        </div>
      </div>
        <a href="https://shop-pro.jp/pricing">GMOペポバ「COLOR ME price」</a>
    </div>
  </div>
  </div>
